body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

#signin-div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: none;
}

#signin-options {
  position: absolute;
  width: 200px;
  height: 120px;
  top: 100px;
  left: 50%;
  margin-left: -100px;
  background-color: white;
  border-radius: 10px;
}

.abcRioButton {
  position: absolute;
  left: 50%;
  margin-left: -60px;
}

.g-signin2 {
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -30px;
}

.veil {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.5);
}

#close-signin {
  position: absolute;
  right: 5px;
  top: 5px;
}

.close-button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #4183c4;
  background-color: transparent;
  border: none;
}

.close-button:hover {
  color: sienna;
  cursor: pointer;
}

.close-button:active {
  color: brown;
}

.close-button:focus {
  outline: 0;
}

#profile-signin-div {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 10px;
  padding-right: 30px;
  text-align: right;
}